$accent-color: #07e8ff
$base-color: #2f0000
$border-size: 3px
.check
    display: flex
    width: 100%
    position: absolute
    z-index: 10
.checkout_left
    width: 40%
    height: 100vh
    position: relative
    background: linear-gradient(180deg,#3c0453, $base-color)

    div
        position: absolute
        width: 100%
        height: 100%
        .typeit
            position: absolute
            color: black
            font-size: 40px
            min-width: 350px
            max-width: 450px
            border-radius: 10px
            padding: 10px
            top: 40%
            right: 20%
            background-color: #cad3c8
            -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset
            -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset
            box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset

.checkout_right
    width: 60%
    height: 100vh
    background: linear-gradient(180deg,#3c0453, $base-color)
